.career {
  padding-top: 80px;
  padding-bottom: 60px;

  @include lg {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  &__content {
    display: grid;
    gap: 24px;
    margin-bottom: 40px;    

    @include md {
      grid-template-areas: 
        "title link"
        "description .";
    }

    @include lg {
      grid-template-columns: 720px 1fr;
      gap: 40px;
      margin-bottom: 50px;
    }
  }

  &__title {
    font-weight: 1000;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    color: $second;

    @include md {
      grid-area: title;        
    }

    @include lg {
      font-size: 52px;
    }
  }

  &__description {
    @include md {
      grid-area: description;        
    }
  }

  &__link {
    justify-self: start;

    @include md {
      grid-area: link;        
    }

    @include lg {
      justify-self: end;
    }
  }

  &__image {
    border-radius: 16px;    
  }

  &__slider-pagination {
    @include sm {
      display: none;
    }
  }
  
}
